    .credits {
        width: 100%;
    }
    
    .back-box-credits {
        background-color: rgb(26, 25, 25);
        height: 165px;
        width: 100%;
        top: 100%;
    }
    
    .back-box-credits h1,
    p {
        color: white;
        font-size: 15px;
        text-align: center;
    }
    
    .back-box-credits img {
        padding: 3px;
        margin: 5px;
        width: 60px;
        height: 60px;
    }
    
    .back-box-credits div {
        text-align: center;
    }
    
    .container-card div {
        text-align: center;
    }
    
    .container-card div img {
        border-radius: 50px;
        height: 70px;
        width: 70px;
        margin: 5px;
    }
    
    .container-card div h3 {
        color: white;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 15px;
    }
    
    @media screen and (max-width: 850px) {
        .container-card div img {
            width: 40px;
            height: 40px;
        }
    }